.container{
    margin:auto;
    width: 80%;
    padding: 10px;
}

.left
{
    width: 40%;
    margin-top: 70px;
    margin-left: 20px;
    float:left;
}
.right{
        margin-top: 70px;
        float:right;
        width: 50%;
}
img{
    height: 80%;
    width: 80%;
}