.red{
    border-color: red;
}
input {
    width: 100%;
    padding: 7px 10px;
    margin-top: 4px;
    border-radius: 5px;
    border-color: black;
  }
.blue{
      border-color: rgb(52, 138, 219);
  }