.container{
    margin:auto;
    width: 80%;
    padding: 10px;
}
.right{
    float: right;
    width: 50%;
   
    margin-top: 100px;
}
.left
{
    margin-left: 20px;
    float:left;
    margin-top: 100px;
}
.verticalLine {
    display: inline-block;
    border-left: 3px solid rgb(27, 21, 21);
    margin-top:80px;
    margin-left:20px;
    height: 150px;
  }