<div class="body">
    <h3>Details of the meetup: </h3>
    <div class="card" >
        <img class="card-img" src={{meetup.image}}>
        <div class="card-body">
            <h5 class="card-title">{{meetup.title}} </h5>
            <p class="card-text">Description: {{meetup.description}}</p>
            <p class="card-text">Address: {{meetup.address}}</p>
            <button *ngIf="!ifExists" (click)="addToFavorite()" class="btn btn-primary">Add to favourite</button>
            <button *ngIf="ifExists" (click)="onRemove()"  class="btn btn-primary">Remove from favourite</button>
            <br/>
        </div>
    </div>
</div>